doctype html
html
	head
		title='Hello Pug'
	body
		form(action='http://localhost:3000/',method='GET')
			p
				|	First Name:
				input(type='text',	name='first_name')
			p
				|	Last Name:
				input(type='text',	name='last_name')
			input(type='submit',	value='Submit')